# PyTorch with CUDA 12.4 support
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
--extra-index-url https://download.pytorch.org/whl/cu124

# Other packages
pyradiomics
pycaret[full]
nnunetv2
totalsegmentator
smolagents[all]
